html, body {
       font-family: "Instrument Sans", sans-serif;
       margin: 0;
       padding: 0;
       overflow-x: hidden;
       width: 100%; 
       height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
   .website {
       font-size: 22px;
       font-weight: 600;
   }

   .navbar {
       background-color: #11AD64;
       color: white;
       padding: 12px 12px;
       position: sticky;
       height: 52px;
       top: 0;
       z-index: 1000;
   }
   
   .navbar a {
       color: white;
       text-decoration: none;
       padding: 0 5px;
   }
   
   .navbar a:hover {
       text-decoration: underline;
   }
   .dropdown {
       border-bottom: 1px solid rgba(0, 0, 0, 0.2);
       padding: 15px 30px;

   }

   .dropdown-btn {
       background: none;
       border: none;
       font-size: 25px;
       font-weight: 600;
       color: #16633F;
       width: 100%;
       text-align: left;
       display: flex;
       justify-content: space-between;
       align-items: center;
       cursor: pointer;
       padding: 10px 0;
   }

   .dropdown-icon {
       transition: transform 0.3s ease;
   }

   .dropdown-content {
       display: none;
       font-size: 22px;
       color: #333;
       font-weight: 500;
       padding: 10px 0;
   }

   .dropdown-btn.active .dropdown-icon {
       transform: rotate(180deg);
   }