html, body {
    font-family: "Instrument Sans", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%; 
    height: 100%;
}

body {
 display: flex;
 flex-direction: column;
 min-height: 100vh; 
}
   .website {
       font-size: 22px;
       font-weight: 600;
   }
   .navbar {
       background-color: #11AD64;
       color: white;
       padding: 12px 12px;
       position: sticky;
       height: 52px;
       top: 0;
       z-index: 1000;
   }
   
   .navbar a {
       color: white;
       text-decoration: none;
       padding: 0 5px;
   }
   
   .navbar a:hover {
       text-decoration: underline;
   }
   .gcctext, .gccetext, .gccemail, .gccpage {
       text-decoration: none; 
       color: #16633F; 
       font-size: 25px; 
       font-weight: 500;
       align-items: center;
   }
   .gcctext:hover, .gccetext:hover {
       text-decoration: underline;
   }
