html, body {
    font-family: "Instrument Sans", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%; 
    height: 100%;
}

body {
 background: url('/gcc/img/darkgreen-bg.png') no-repeat center center fixed;
 background-size: cover;
}

.website {
    font-size: 22px;
    font-weight: 600;
}

.navbar {
    background-color: #11AD64;
    color: white;
    padding: 12px 12px;
    position: sticky;
    height: 52px;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0 5px;
}

.navbar a:hover {
    text-decoration: underline;
}

.submit {
    background-color: #11AD64;
    color: white;
    font-weight: 500;
    padding: 15px 0;
    border: 2px solid rgb(14, 121, 73);
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    font-size: 27px;
    font-family: "Instrument Sans";
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}
.submit:hover {
    background-image: linear-gradient(to top, rgb(27, 156, 98) 10%, transparent 30%);
}

.submit:hover {
    background-color: #0b8c50;
}


.custom-file-upload {
    display: inline-flex;
    align-items: center;
    width: 300px;
    font-size: 18px;
    gap: 8px;
    padding: 10px 20px;
    border: 3px solid #0b3822;
    background-color: white;
    color: #16633F;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.custom-file-upload:hover {
    background-color: #16633F;
    color: white;
}

.custom-file-upload input {
    display: none;
}

.custom-file-upload i {
    font-size: 18px;
}

footer img {
    height: 40px;
}

